<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to mvc concept</h1>
    <img src="/1.jpg" alt="">
    <form action="/api/users" method="post">
        <h1>Course Enquiry</h1>
        <input type="text" name="name" placeholder="First Name"> 
        <input type="text" name="email" placeholder="Email">
        <input type="number" name="phone" placeholder="Phone">
        <button type="submit" class="btn">submit</button><br>
       
    </form>
</body>
</html>